BACKEND_APP_NAME=Beat MP3 Converter API
BACKEND_CORS_ALLOW_CREDENTIALS=true
BACKEND_YTDLP_COOKIES_FILE=

# Desarrollo
BACKEND_CORS_ORIGINS_DEV=http://localhost:3000,http://127.0.0.1:3000
BACKEND_JOBS_DB_PATH_DEV=downloads/jobs-dev.db
BACKEND_WORKER_MAX_WORKERS_DEV=1

# Produccion
BACKEND_CORS_ORIGINS_PROD=https://beat.vercel.app
BACKEND_JOBS_DB_PATH_PROD=downloads/jobs.db
BACKEND_WORKER_MAX_WORKERS_PROD=2
